<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KARMAC</title>
    <link rel="stylesheet" href="css/brand.css" />
  </head>
  <body>
    <section>
      <header>
        <a href="/"><img src="assets/arrow-left-icon.png" alt="" /></a>
        <h1>Brand</h1>
      </header>
      <div class="brandGallery">
        <div class="brand">
          <img src="assets/Mercedes_Benz_logo_gradient.png" alt="" />
        </div>
        <div class="brand" >
          <img src="assets/maruti-suzuki_logo.png" alt="" />
        </div>
        <div class="brand">
          <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
        </div>
        <div class="brand">
          <img src="assets/BMW_logo_big_transparent_png.png" alt="" />
        </div>
        <div class="brand">
          <img src="assets/Mercedes_Benz_logo_gradient.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
