<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="KARMAC connects you to your preferred car service provider and makes your experience smoother, transparent, time-saving, and efficient.With multiple personalised options available, we make the whole process easier and simplified for you."
    />
    <link
      rel="icon"
      href="assets/favicon.png"
      type="images/png"
      sizes="16x16"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>KARMAC</title>
  </head>
  <body>
    <!--============    Header    ===========-->
    <header id="HomeScreenNavBar">
      <a href="/searchDealer" class="searchBox">
        <img src="assets/searchIcon.png" width="50px" />
        <p>Search a dealer</p>
      </a>
      <div class="logoBox"></div>
      <button class="Bars_Btn"></button>
      <nav>
        <a href="#" id="LoginBtn">Login</a>
        <a href="#" id="MenuBtn" class="hide">Menu</a>
      </nav>
    </header>
    <main>
      <!--============    Hero-Section    ===========-->
      <section class="HeroSection">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="/bookAslot" style="text-decoration: none">
                <div class="imgBox">
                  <img src="assets/car-main.png" />
                </div>
                <div class="contentBox">
                  <div class="content">
                    <h2>Sai Auto Hyundai</h2>
                    <h4>
                      Tunga Gaon Saki Vihar Road<br />
                      <strong>Powai, Mumbai</strong>
                    </h4>
                    <p>
                      <span>Timing : </span>
                      9:00 am - 7:00 pm
                    </p>
                  </div>
                  <div class="brandImg">
                    <img src="assets/Hyundai-logo-grey-2560x1440.png" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/bookAslot" style="text-decoration: none">
                <div class="imgBox">
                  <img src="assets/car-main.png" />
                </div>
                <div class="contentBox">
                  <div class="content">
                    <h2>Sai Auto Hyundai</h2>
                    <h4>
                      Tunga Gaon Saki Vihar Road<br />
                      <strong>Powai, Mumbai</strong>
                    </h4>
                    <p>
                      <span>Timing : </span>
                      9:00 am - 7:00 pm
                    </p>
                  </div>
                  <div class="brandImg">
                    <img src="assets/Hyundai-logo-grey-2560x1440.png" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/bookAslot" style="text-decoration: none">
                <div class="imgBox">
                  <img src="assets/car-main.png" />
                </div>
                <div class="contentBox">
                  <div class="content">
                    <h2>Sai Auto Hyundai</h2>
                    <h4>
                      Tunga Gaon Saki Vihar Road<br />
                      <strong>Powai, Mumbai</strong>
                    </h4>
                    <p>
                      <span>Timing : </span>
                      9:00 am - 7:00 pm
                    </p>
                  </div>
                  <div class="brandImg">
                    <img src="assets/Hyundai-logo-grey-2560x1440.png" />
                  </div>
                </div>
              </a>
            </div>
          </div>

          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <!--============    WelcomeSection    ===========-->
        <section
          class="WelcomeSection"
          data-aos="fade-up"
          data-aos-delay="100"
          data-aos-offset="300"
          data-aos-duration="500"
        >
          <h1>Welcome to <span>KARMAC</span></h1>
          <p>
            KARMAC connects you to your preferred car service provider and makes
            your experience smoother, transparent, time-saving, and
            efficient.With multiple personalised options available, we make the
            whole process easier and simplified for you.
          </p>
        </section>
      </section>
      <!--============    HowWeWork    ===========-->
      <section class="HowWeWork">
        <h1>How KARMAC Works</h1>
        <div class="cardContainer">
          <div class="card" data-aos="zoom-in-up">
            <span>1</span>
            <img src="assets/HowKarmacWorks/register.png" />
            <h2>Register on KARMAC</h2>
          </div>
          <div class="card" data-aos="zoom-in-up">
            <span>2</span>
            <img src="assets/HowKarmacWorks/select your car.png" />
            <h2>Select your car</h2>
          </div>
          <div class="card" data-aos="zoom-in-up">
            <span>3</span>
            <img src="assets/HowKarmacWorks/select a service center.png" />
            <h2>Select a service center</h2>
          </div>
          <div class="card" data-aos="zoom-in-up">
            <span>4</span>
            <img src="assets/HowKarmacWorks/book a slot.jpg" />
            <h2>Book a slot</h2>
          </div>
          <div class="card" data-aos="zoom-in-up">
            <span>5</span>
            <img src="assets/HowKarmacWorks/chat with manager.png" />
            <h2>Chat with the manager</h2>
          </div>
          <div class="card" data-aos="zoom-in-up">
            <span>6</span>
            <img src="assets/HowKarmacWorks/getNotified.png" />
            <h2>Get Notified</h2>
          </div>
          <div class="card" data-aos="zoom-in-up">
            <span>7</span>
            <img src="assets/HowKarmacWorks/MakePayment.png" />
            <h2>Make payment</h2>
          </div>
          <div class="card" data-aos="zoom-in-up">
            <span>8</span>
            <img src="assets/HowKarmacWorks/KeepTrack.png" />
            <h2>Keep a Track</h2>
          </div>
        </div>
      </section>
      <!--============    AppAdvertise    ===========-->
      <section class="AppAdvertise">
        <div class="imgBox" data-aos="fade-right">
          <img src="assets/Asset 1.png" />
        </div>
        <div class="contentBox" data-aos="fade-left">
          <h1>Download the App</h1>
          <nav>
            <a href="#"><img src="assets/google-play-badge.png" /></a>
            <a href="#"><img src="assets/app-store-badge.svg" /></a>
          </nav>
        </div>
      </section>
      <!--============    WhyToChoose    ===========-->
      <section class="WhyToChoose">
        <h1>Why choose KARMAC</h1>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="assets/easily connect.png" />
              <p>Easily connect with service center for the updates</p>
            </div>
            <div class="swiper-slide">
              <img src="assets/money.jpg" />
              <p>
                Pay less for better service compared to other options in the
                market
              </p>
            </div>
            <div class="swiper-slide">
              <img src="assets/tranparency.jpg" />
              <p>Transparent, interactive and intuitive</p>
            </div>
            <div class="swiper-slide">
              <img src="assets/past orders.jpg" />
              <p>
                Track all your present and past orders and changes in the car at
                one place
              </p>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="controls">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
      <!--============    contact__section    ===========-->
      <section id="contactSection" class="contact__section">
        <div class="contactDetails" data-aos="fade-right">
          <div class="head">
            <h1>Contact Us</h1>
          </div>
          <div class="box">
            <div class="imgBox"><i class="fas fa-map-marker-alt"></i></div>
            <div class="contentBox">
              <p>Address</p>
              <a href="https://goo.gl/maps/VxEe3VC7jkcuR1g98"
                ><h2>Tunga Gaon Saki Vihar Road Powai, Mumbai</h2></a
              >
            </div>
          </div>
          <div class="box">
            <div class="imgBox"><i class="fas fa-phone-alt"></i></div>
            <div class="contentBox">
              <p>Call us</p>
              <a href="tel:+918888888888"><h2>8888888888</h2></a>
            </div>
          </div>
          <div class="box">
            <div class="imgBox"><i class="fas fa-comment-alt"></i></div>
            <div class="contentBox">
              <p>Email</p>
              <a href="mailto:dummy@gmail.com"><h2>dummy@gmail.com</h2></a>
            </div>
          </div>
          <div class="socialmediaBox">
            <a href="https://www.facebook.com/Karmacglobal/"
              ><i class="fab fa-facebook-square" style="color: #000"></i
            ></a>
            <a href="https://www.linkedin.com/company/karmacglobal/"
              ><i class="fab fa-linkedin" style="color: #fff"></i
            ></a>
            <a href="https://twitter.com/karmacglobal"
              ><i class="fab fa-twitter-square" style="color: #000"></i
            ></a>
            <a href="https://www.instagram.com/karmacglobal/"
              ><i class="fab fa-instagram-square" style="color: #fff"></i
            ></a>
          </div>
        </div>
        <div class="contactForm" data-aos="fade-left" data-aos-offset="-10">
          <div class="head">
            <h1>Send your feedback</h1>
          </div>
          <form method="post" action="">
            <div class="inputBox">
              <input
                name="name"
                type="text"
                autocomplete="off"
                placeholder="Enter your name here"
                required
              />
              <i class="far fa-user"></i>
            </div>
            <div class="inputBox">
              <input
                name="email"
                type="email"
                placeholder="Enter your email here"
                required
              />
              <i class="far fa-envelope"></i>
            </div>
            <div class="inputBox">
              <textarea
                name="message"
                rows="5"
                cols="100"
                type="text"
                placeholder="Tell us your feedback"
                required
              ></textarea>
              <i class="far fa-sticky-note"></i>
            </div>
            <input name="submit" type="submit" value="Submit" />
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright © 2020 KARMAC. All Rights Reserved.</p>
      <p>
        -Developed By
        <a
          href="http://rohit01010.github.io/"
          style="color: #00aeff; text-decoration: none"
          >Rohit Bhagat</a
        >
      </p>
    </footer>

    <!--============    ChatBot    ===========-->
    <div class="ChatBot">
      <div class="ImgBox active">
        <img src="assets/logo.png" />
      </div>
      <div class="ChatScreen">
        <div class="profileHead">
          <div class="profileName">
            <img src="assets/logo.png" />
            <p>KARMAC</p>
          </div>
          <button id="ChatBotClose"><i class="fas fa-times"></i></button>
        </div>
        <div class="MessageBox">
          <div class="Messages">
            <p class="incoming">Hello! How may I help you ?</p>
            <p class="outgoing">Who are you ?</p>
            <p class="ExtraSpaceBottom"></p>
          </div>
          <form action="" method="post">
            <input type="text" placeholder="Type something ... " />
            <button type="submit">
              <i class="fas fa-caret-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <!--============    Popups    ===========-->
    <!-- Login/SignUp -->
    <section class="LoginPopup">
      <a href="#" id="loginCloseBtn">&#10005;</a>
      <div class="SignUp active" id="SignUpModal">
        <h1>Sign Up</h1>
        <p>Already a member ? <span onclick="LoginToggle()">Login</span></p>
        <form id="signUpwithOTP" class="active" action="" method="POST">
          <div id="signUp1withOTP" class="active">
            <input
              type="number"
              min="1000000000"
              max="9999999999"
              name="phoneNumber"
              placeholder="Enter your mobile number"
              required
            />
            <input type="button" id="signUpNextwithOTP" value="Next" />
          </div>
          <div id="signUp2withOTP">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="signUpBackwithOTP" value="Back" />
              <input type="button" id="signUp_submitOTP" value="Submit" />
            </span>
          </div>
        </form>
        <form id="signUpwithEmail" action="" method="POST">
          <div id="signUp1withEmail" class="active">
            <input
              type="email"
              name="emailForLogin"
              placeholder="Enter your email"
              required
            />
            <input type="button" id="signUpNextwithEmail" value="Next" />
          </div>
          <div id="signUp2withEmail">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="signUpBackwithEmail" value="Back" />
              <input type="submit" value="Submit" />
            </span>
          </div>
        </form>
        <p>OR</p>
        <a href="#">
          SignUp with Google <img src="assets/googe1.png" alt="" />
        </a>
        <a id="SignUpMethod" href="#">SignUp with Email</a>
        <span
          >By continuing, you agree that you have read and accept out
          <a href="#">T&Cs</a> and <a href="#">privacy policy</a></span
        >
      </div>

      <div class="SignUp" id="LogInModal">
        <h1>Login In</h1>
        <p>Not a member ? <span onclick="LoginToggle()">SignUp</span></p>
        <form id="logInwithOTP" class="active" action="" method="POST">
          <div id="logIn1withOTP" class="active">
            <input
              type="number"
              min="1000000000"
              max="9999999999"
              placeholder="Enter your mobile number"
              required
              name="phoneNumberL"
            />
            <input type="button" id="logInNextwithOTP" value="Next" />
          </div>
          <div id="logIn2withOTP">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="logInBackwithOTP" value="Back" />
              <input type="button" id="logIn_submitOTP" value="Submit" />
            </span>
          </div>
        </form>
        <form id="logInwithEmail" action="" method="POST">
          <div id="logIn1withEmail" class="active">
            <input
              type="email"
              name="emailForLogin"
              placeholder="Enter your email"
              required
            />
            <input type="button" id="logInNextwithEmail" value="Next" />
          </div>
          <div id="logIn2withEmail">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="logInBackwithEmail" value="Back" />
              <input type="submit" value="Submit" />
            </span>
          </div>
        </form>
        <p>OR</p>
        <a href="#">
          LogIn with Google <img src="assets/googe1.png" alt="" />
        </a>
        <a id="logInMethod" href="#">LogIn with Email</a>
        <span
          >By continuing, you agree that you have read and accept out
          <a href="#">T&Cs</a> and <a href="#">privacy policy</a></span
        >
      </div>
    </section>

    <!-- New User Details -->
    <section class="NewUser">
      <form action="" onsubmit="()=>{NewUser.classList.remove('active')}">
        <h1>Please fill your details</h1>
        <!-- full name -->
        <input
          type="text"
          autocomplete="off"
          name="fname"
          placeholder="Enter your full-name"
          required
        />
        <!-- email -->
        <input
          type="email"
          name="useremail"
          placeholder="Enter your Email"
          required
        />
        <label for="profileimage">Select image</label>
        <!-- profile image -->
        <input type="file" name="profileimage" id="" required />
        <div class="searchBox">
          <img src="assets/searchIcon.png" alt="" />
          <input
            type="text"
            autocomplete="off"
            id="carBrandSearch"
            placeholder="Search your car brand"
          />
        </div>
        <div class="BrandImageSelection">
          <h1>Sorry no result found!!</h1>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="mercedes" href="#">
            <img
              src="assets/Mercedes_Benz_logo_gradient.png"
              alt=""
              style="width: 50%"
            />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
          <a data-brand="hyundai" href="#">
            <img src="assets/Hyundai-logo-grey-2560x1440.png" alt="" />
          </a>
        </div>
        <div class="searchBox">
          <img src="assets/searchIcon.png" alt="" />
          <input
            type="text"
            autocomplete="off"
            id="carModelSearch"
            placeholder="Search your car model"
          />
          <input type="text" name="carModel" required hidden />
        </div>
        <div class="ModelImageSelection">
          <h1>Sorry no result found!!</h1>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="ertiga mercedes" href="#">
            <img src="assets/mercedesCar.png" alt="" />
            <p>Ertiga</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
          <a data-model="swift hyundai" href="#">
            <img src="assets/HyundaiCar.png" alt="" />
            <p>Swift</p>
          </a>
        </div>
        <input
          type="text"
          autocomplete="off"
          placeholder="Car Registration number ( MH-03-CB-3980 )"
          id="carRegistration"
          required
        />
        <div class="Variant">
          <label for="select">Your car variant</label>
          <select name="fuelType" required>
            <option value="petrol">Petrol</option>
            <option value="CNG">CNG</option>
            <option value="diesel">Diesel</option>
          </select>
        </div>
        <input type="button" value="Add" id="addCar" />
        <div class="carSelected">
          <h4>Selected cars</h4>
          <!-- the input fields carModel_1, registrationNumber_1, variant_1 needed to send to backend
              format of selected car input will be like this
            <a data-model="swift hyundai" href="#">
              <button type="button" class="closeSelectedCarElem">×</button>
              <input type="text" name="carModel_1" value="swift hyundai" hidden="">
              <input type="text" name="registrationNumber_1" value="Reg_num" hidden="">
              <input type="text" name="variant_1" value="petrol" hidden="">
              <img src="http://localhost:5000/assets/HyundaiCar.png" alt="">
              <p>Swift</p>
            </a>
           -->
        </div>
        <input type="button" value="submit" />
      </form>
    </section>

    <!-- SideNav Menu -->
    <div class="SideNavMenu">
      <button id="sideNavMenuCloseBtn">&#10005;</button>
      <div class="profile">
        <div class="imgBox">
          <img src="assets/Union 55.png" alt="" />
        </div>
        <h2>Kaushik Chadra</h2>
      </div>
      <ul>
        <a href="/profile"
          ><li><i class="fas fa-user-circle"></i>&nbsp; Profile</li>
        </a>
        <a href="/mycar"
          ><li><i class="fas fa-car"></i>&nbsp; My Cars</li>
        </a>
        <a href="/myorders"
          ><li><i class="fas fa-clipboard-list"></i>&nbsp; My Orders</li>
        </a>
        <a href="#"
          ><li><i class="fas fa-tools"></i>&nbsp; Service Centers</li>
        </a>
        <a href="#contactSection"
          ><li onclick="removeSidemenuPopup()">
            <i class="fas fa-phone-alt"></i>&nbsp; Contact Us
          </li>
        </a>
        <button><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</button>
      </ul>
    </div>
    <div id="hmmm"></div>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/fonsawesome.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/app.js"></script>
    
  </body>
</html>
