<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/searchDealer.css" />
    <link
      rel="icon"
      href="assets/favicon.png"
      type="images/png"
      sizes="16x16"
    />
    <title>KARMAC</title>
  </head>
  <body>
    <!--============    Header    ===========-->
    <header id="HomeScreenNavBar">
      <a href="/" class="logoBox"></a>
      <div class="searchBox">
        <img src="assets/searchIcon.png" width="50px" />
        <input type="text" placeholder="Search a service center" />
      </div>
      <button class="Bars_Btn"></button>
      <nav>
        <a href="#" id="LoginBtn">Login</a>
        <a href="#" id="MenuBtn">Menu</a>
      </nav>
    </header>
    <section>
      <div class="sideFilterBox">
        <h2>FILTERS</h2>
        <div class="brand">
          <h3>BRAND</h3>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Hyundai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Hyundai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Hyundai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Hyundai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Hyundai</label>
          </div>
          <div class="inputBox">
            <input type="button" value="see more" name="" id="" />
          </div>
        </div>
        <div class="location">
          <h3>LOCATION</h3>
          <div class="inputBox">
            <button id="get-location">Your Location</button>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Mumbai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Mumbai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Mumbai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Mumbai</label>
          </div>
          <div class="inputBox">
            <input type="checkbox" name="" id="" />
            <label for="checkbox">Mumbai</label>
          </div>
          <div class="inputBox">
            <input type="button" value="see more" name="" id="" />
          </div>
        </div>
        <button id="applyFilters">Apply filters</button>
      </div>
      <button id="filterBoxBtn">Filters</button>
      <div class="searchResults">
        <div class="card">
          <a href="/bookAslot" style="text-decoration: none">
            <div class="imgBox">
              <img src="assets/car-main.png" />
            </div>
            <div class="contentBox">
              <div class="content">
                <h2>Sai Auto Hyundai</h2>
                <h4>
                  Tunga Gaon Saki Vihar Road<br />
                  <strong>Powai, Mumbai</strong>
                </h4>
                <p>
                  <span>Timing : </span>
                  9:00 am - 7:00 pm
                </p>
              </div>
              <div class="brandImg">
                <img src="assets/Hyundai-logo-grey-2560x1440.png" />
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/bookAslot" style="text-decoration: none">
            <div class="imgBox">
              <img src="assets/car-main.png" />
            </div>
            <div class="contentBox">
              <div class="content">
                <h2>Sai Auto Hyundai</h2>
                <h4>
                  Tunga Gaon Saki Vihar Road<br />
                  <strong>Powai, Mumbai</strong>
                </h4>
                <p>
                  <span>Timing : </span>
                  9:00 am - 7:00 pm
                </p>
              </div>
              <div class="brandImg">
                <img src="assets/Hyundai-logo-grey-2560x1440.png" />
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/bookAslot" style="text-decoration: none">
            <div class="imgBox">
              <img src="assets/car-main.png" />
            </div>
            <div class="contentBox">
              <div class="content">
                <h2>Sai Auto Hyundai</h2>
                <h4>
                  Tunga Gaon Saki Vihar Road<br />
                  <strong>Powai, Mumbai</strong>
                </h4>
                <p>
                  <span>Timing : </span>
                  9:00 am - 7:00 pm
                </p>
              </div>
              <div class="brandImg">
                <img src="assets/Hyundai-logo-grey-2560x1440.png" />
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/bookAslot" style="text-decoration: none">
            <div class="imgBox">
              <img src="assets/car-main.png" />
            </div>
            <div class="contentBox">
              <div class="content">
                <h2>Sai Auto Hyundai</h2>
                <h4>
                  Tunga Gaon Saki Vihar Road<br />
                  <strong>Powai, Mumbai</strong>
                </h4>
                <p>
                  <span>Timing : </span>
                  9:00 am - 7:00 pm
                </p>
              </div>
              <div class="brandImg">
                <img src="assets/Hyundai-logo-grey-2560x1440.png" />
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/bookAslot" style="text-decoration: none">
            <div class="imgBox">
              <img src="assets/car-main.png" />
            </div>
            <div class="contentBox">
              <div class="content">
                <h2>Sai Auto Hyundai</h2>
                <h4>
                  Tunga Gaon Saki Vihar Road<br />
                  <strong>Powai, Mumbai</strong>
                </h4>
                <p>
                  <span>Timing : </span>
                  9:00 am - 7:00 pm
                </p>
              </div>
              <div class="brandImg">
                <img src="assets/Hyundai-logo-grey-2560x1440.png" />
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/bookAslot" style="text-decoration: none">
            <div class="imgBox">
              <img src="assets/car-main.png" />
            </div>
            <div class="contentBox">
              <div class="content">
                <h2>Sai Auto Hyundai</h2>
                <h4>
                  Tunga Gaon Saki Vihar Road<br />
                  <strong>Powai, Mumbai</strong>
                </h4>
                <p>
                  <span>Timing : </span>
                  9:00 am - 7:00 pm
                </p>
              </div>
              <div class="brandImg">
                <img src="assets/Hyundai-logo-grey-2560x1440.png" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!--============    Popups    ===========-->
    <!-- Login/SignUp -->
    <section class="LoginPopup">
      <a href="#" id="loginCloseBtn">&#10005;</a>
      <div class="SignUp active" id="SignUpModal">
        <h1>Sign Up</h1>
        <p>Already a member ? <span onclick="LoginToggle()">Login</span></p>
        <form id="signUpwithOTP" class="active" action="" method="POST">
          <div id="signUp1withOTP" class="active">
            <input
              type="number"
              min="1000000000"
              max="9999999999"
              name="phoneNumber"
              placeholder="Enter your mobile number"
              required
            />
            <input type="button" id="signUpNextwithOTP" value="Next" />
          </div>
          <div id="signUp2withOTP">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="signUpBackwithOTP" value="Back" />
              <input type="button" id="signUp_submitOTP" value="Submit" />
            </span>
          </div>
        </form>
        <form id="signUpwithEmail" action="" method="POST">
          <div id="signUp1withEmail" class="active">
            <input
              type="email"
              name="emailForLogin"
              placeholder="Enter your email"
              required
            />
            <input type="button" id="signUpNextwithEmail" value="Next" />
          </div>
          <div id="signUp2withEmail">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="signUpBackwithEmail" value="Back" />
              <input type="submit" value="Submit" />
            </span>
          </div>
        </form>
        <p>OR</p>
        <a href="#">
          SignUp with Google <img src="assets/googe1.png" alt="" />
        </a>
        <a id="SignUpMethod" href="#">SignUp with Email</a>
        <span
          >By continuing, you agree that you have read and accept out
          <a href="#">T&Cs</a> and <a href="#">privacy policy</a></span
        >
      </div>

      <div class="SignUp" id="LogInModal">
        <h1>Login In</h1>
        <p>Not a member ? <span onclick="LoginToggle()">SignUp</span></p>
        <form id="logInwithOTP" class="active" action="" method="POST">
          <div id="logIn1withOTP" class="active">
            <input
              type="number"
              min="1000000000"
              max="9999999999"
              placeholder="Enter your mobile number"
              required
              name="phoneNumberL"
            />
            <input type="button" id="logInNextwithOTP" value="Next" />
          </div>
          <div id="logIn2withOTP">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="logInBackwithOTP" value="Back" />
              <input type="button" id="logIn_submitOTP" value="Submit" />
            </span>
          </div>
        </form>
        <form id="logInwithEmail" action="" method="POST">
          <div id="logIn1withEmail" class="active">
            <input
              type="email"
              name="emailForLogin"
              placeholder="Enter your email"
              required
            />
            <input type="button" id="logInNextwithEmail" value="Next" />
          </div>
          <div id="logIn2withEmail">
            <input
              type="number"
              name="otp"
              min="1000"
              max="9999"
              placeholder="OTP"
              required
            />
            <span>
              <input type="button" id="logInBackwithEmail" value="Back" />
              <input type="submit" value="Submit" />
            </span>
          </div>
        </form>
        <p>OR</p>
        <a href="#">
          LogIn with Google <img src="assets/googe1.png" alt="" />
        </a>
        <a id="logInMethod" href="#">LogIn with Email</a>
        <span
          >By continuing, you agree that you have read and accept out
          <a href="#">T&Cs</a> and <a href="#">privacy policy</a></span
        >
      </div>
    </section>

    <!-- SideNav Menu -->
    <div class="SideNavMenu">
      <button id="sideNavMenuCloseBtn">&#10005;</button>
      <div class="profile">
        <div class="imgBox">
          <img src="assets/Union 55.png" alt="" />
        </div>
        <h2>Kaushik Chadra</h2>
      </div>
      <ul>
        <a href="/profile"
          ><li><i class="fas fa-user-circle"></i>&nbsp; Profile</li>
        </a>
        <a href="/mycar"
          ><li><i class="fas fa-car"></i>&nbsp; My Cars</li>
        </a>
        <a href="/myorders"
          ><li><i class="fas fa-clipboard-list"></i>&nbsp; My Orders</li>
        </a>
        <a href="#"
          ><li><i class="fas fa-tools"></i>&nbsp; Service Centers</li>
        </a>
        <a href="#contactSection"
          ><li onclick="removeSidemenuPopup()">
            <i class="fas fa-phone-alt"></i>&nbsp; Contact Us
          </li>
        </a>
        <button><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</button>
      </ul>
    </div>

    <script src="js/fonsawesome.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/searchDealer.js"></script>
  </body>
</html>
