<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KARMAC</title>
    <link rel="stylesheet" href="css/specificCar.css" />
  </head>
  <body>
    <section>
      <div class="imgBox">
        <a href="/myorders"
          ><img src="assets/arrow-left-icon.png" alt=""
        /></a>
        <img src="assets/my orders car.png" alt="" />
      </div>
      <div class="ContentBox">
        <div class="content">
          <h2>Mercedes-Benz E-class</h2>
          <p>
            Reg No. : MH 03 CB 3980<br />
            Mercedes-Benz Auto Hanger<br />
            Booking slot: 12/02/2021 Morning<br /><br />
            <span>Currently active</span>
          </p>
        </div>
        <div class="imgs">
          <img src="assets/bill icon.png" alt="" />
          <img src="assets/photo gallery.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
